* {
  box-sizing: border-box;
}

body{
	margin:20px;
	overflow-x:hidden;
}

.row {
  margin: -10px 0;
}

.col {
  padding: 8px;
}

.header{
	background-color:#008fb3 !important;
}

#info{
	text-align:center;
	
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

h4 {
	text-decoration: line-through;
}

.button {
  background-color: #4cb6ce;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/*contact*/
.email{
	padding: 10% 35% !important;
}

.email p{
	font-size:10px;
}

@media only screen and (min-width: 600px) {
  
  body{
	overflow-x:hidden;
}
  
  .row {
    margin: 0 -10px;
  }
  .row::after {
    clear: left;
    content: '';
    display: block;
  }
  .col {
    float: left;
    width: calc(100%/3);
    padding: 0 10px;
  }
}